@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Ubuntu:wght@300&display=swap');


*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size: calc(5vw + 20px);
    color: white;
}
body{
  background-color: #ffffff;
}
p{
  font-size: calc(0.5vw + 10px);
  font-family: 'Ubuntu', sans-serif;
    color: #181e24
}
span{
  animation: 4s linear fade-in;
}
input {
  z-index: 1;
  display: none;
}
section{
    height: 80em;
    background-color: #181e24;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #fff;
}
img{
  position: absolute;
  z-index: 1;
}
#menuHeader{
  padding-right: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  background-color: #181818;
}
.headerLink{
  padding: 10px 30px;
  box-shadow: 1px 1px 1px 1px #000000;
  animation: 1s linear opacity;
  margin: 10px;
}
.imgPredio{
  display: flex;
  align-items: center;
  filter: invert(100% );
  position: absolute;
  z-index: 0;
}
.flexPredio{
  animation: 2s linear opacity;
  margin-top:2vw;
  display: flex;
  align-items: center;
}
.flexImg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.corOffCanvas{
    transition: 1.3s;
    background-color: #181e24;
}

.title{
  animation: 2.5s linear shadowUp;
  border-radius: 40px;
  box-shadow: 3px 3px 3px 6px #171c21;
  width: fit-content;
  padding: 40px;
  text-shadow: 5px 4px 6px hsla(240, 93%, 62%, 0.395);
    margin-top: 15%;
}
.menuLink{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 2px;
}
.titleFocus{
    color: aqua;
}

.menu {
  z-index: 0;
  box-shadow: 3px 3px 3px 1px #00000084;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.hamburguer {
    animation: 2s linear opacity;
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}
.menuEnter{
  transition: 1s;
  background-color: #28323c;
}
.hamburguer:before,.hamburguer:after {
    animation: 2s linear opacity;
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
    animation: 2s linear opacity;
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e262e;
}

::-webkit-scrollbar-thumb:hover {
  background: #28323c;
}

.scrollView {
  opacity: 0;
  transition: opacity 500ms;
}

.scrollView.scrolled {
  opacity: 1;
}
.scrolled.fade-in {
  animation: fade-in 2s ease-in-out both;
}
.scrolled.fade-in-left {
  animation: fade-in-left 2s ease-in-out both;
}
@media (max-width: 767px) {
  p{
    font-size: 12px;

  }
  section{
    height: 50em;
    background-color: #181e24;
}
}
@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes shadowUp{
  0%{
    border-radius: 2px;
    box-shadow: 0px 0px 0px 0px #171c21;
  }
  100%{
    border-radius: 40px;

    box-shadow: 3px 3px 3px 6px #171c21;
  }
}
@keyframes fade-in {
  0% {
    
    text-shadow: 5px 4px 10px hsla(0, 0%, 14%, 0.588);
    opacity: 0;
  }
  100% {
    text-shadow: 5px 4px 10px hsla(240, 93%, 62%, 0.395);
    opacity: 1;  
  }
}
@keyframes fade-in-right{
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left{
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.motivacao{
  border: 1px solid rgba(172, 255, 47, 0.559);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 420px;
  height: 400px;
  margin-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.803);
  display: inline-block;
  overflow: auto;
}

.imagemInformacoes{
  margin-top: -260px;
  position: absolute;
  background-image: url(/img/eVTOL.png) !important;
  background-size: 40%;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  align-items: center;
  background-position: center;
}