*{
    padding: 0;
    margin: 0;
}
h1{
    color: white;
}

p{
    margin-bottom: 0;
    margin-top: 20em;
    color: #fff;
}

section{
    background-color: #181e24;
}
img{
    filter: invert(100%);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #1e262e;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #28323c;
  }

.corOffCanvas{
    transition: 1.3s;
    background-color: #181e24;
}
#imagemPredios{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    margin-top: 450px;
    position: absolute;
}
.title{
    margin-top: 20%;
}

.titleFocus{
    text-shadow: 0px 0px 0px 0px blue;
    color: aqua;
}

.menu {
  box-shadow: 3px 3px 3px 1px #000000b3;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.hamburguer {
    animation: 2s linear opacity;
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}
.hamburguer:before,.hamburguer:after {
    animation: 2s linear opacity;
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
    animation: 2s linear opacity;
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}